# Compilação do Maven/Java
target/
*.jar
*.war
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Senhas e Arquivos Locais sensíveis (Opcional)
.env
HELP.md

# IDEs (IntelliJ, Eclipse, VS Code)
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project